.recipe{
    border: 1px solid gold;
    height: 300px;
}

.thumbCont{
    position: relative;
}

.thumb{
    width: 100%;
    height: 140px;
}

.add, .remove{
    position: absolute;
    right:0;
    bottom:0;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}