/* ==========================================================================
   Author's custom styles
   ========================================================================== */
nav.navbar {
  margin-bottom: 0;
}
input[type="text"] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 15px;
  font-size: 20px;
  margin: 0;
  outline: 0;
  padding: 7px 15px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
#search-group {
  position: relative;
}
#btn {
  position: absolute;
  right: 10px;
  top: 8px;
  border-radius: 10px;
}
.image-wrapper {
  padding-top: 50px;
  height: 100%;
  background-color: rgba(232, 238, 239, 0.5);
}
.jumbotron {
  height: 450px;
  margin-bottom: 15px;
  background-image: url(../img/pasta.jpeg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}
.row-fluid {
  padding-top: 15px;
  background-image: url(../img/vertical-waves.png);
  background-repeat: repeat;
}
div.result {
  min-height: 330px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px;
  position relative;
}
button.add-fav,
button.del-fav {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
